---
type Props = {
  position: "bottom" | "top";
};

const { position } = Astro.props;
---

<div
  class={`
    fixed
    bg-gradient-to-r from-pink-600 to-purple-600
    h-[134px] w-[134px] lg:w-[300px] lg:h-[300px] md:h-[200px] md:w-[200px] rounded-full
    blur-[150px] md:blur-[350px] opacity-100
    ${position === "top" ? "left-72 top-32" : ""}
    ${position === "bottom" ? "right-0 bottom-0" : ""}
  `}
>
</div>
