/* Typography */

.custom-block-title {
  @apply text-zinc-200 text-3xl font-bold tracking-normal;
}
.custom-block-big-title {
  @apply text-zinc-200 text-4xl xl:text-5xl font-bold tracking-normal;
}
.custom-block-subtitle {
  @apply text-xs text-zinc-200  tracking-wider font-bold uppercase;
}
.custom-content-title {
  @apply text-zinc-700 text-lg font-bold tracking-normal;
}
.custom-content-text-white {
  @apply text-zinc-700 text-base leading-relaxed;
}
.custom-content-text-gray {
  @apply text-zinc-600 text-base;
}

body,
html {
  @apply bg-zinc-900 bg-topography text-zinc-950;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Borders */

.custom-border-gray {
  @apply border border-solid border-[rgb(255,255,255,0.15)];
}
.custom-border-gray-darker {
  @apply border border-solid border-zinc-400;
}

/* Buttons */

.custom-button-colored {
  @apply rounded-lg font-bold bg-sagegreen text-zinc-900 flex justify-center items-center hover:bg-gray-700 hover:text-white duration-500 cursor-pointer transition;
}

/* Navbar */

.navbar {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px #121212;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.logo:hover ~ span{
  transition: opacity 1s, transform 0.5s;
  transform: translateX(0.2rem);
  opacity: 100;
} 

.navbar-link {
  @apply text-zinc-200 text-xl leading-6 mx-4 cursor-pointer font-medium hover:scale-105 transition-transform duration-300 pt-2;
}

/* .testimonials {
  background: rgba( 43, 43, 43, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}
