/* Typography */

.custom-block-title {
  @apply text-zinc-950 text-3xl font-bold tracking-normal;
}
.custom-block-big-title {
  @apply text-zinc-950 text-4xl xl:text-5xl font-bold tracking-normal;
}
.custom-block-subtitle {
  @apply text-xs text-zinc-900  tracking-wider font-bold uppercase;
}
.custom-content-title {
  @apply text-zinc-800 text-lg font-bold tracking-normal;
}
.custom-content-text-white {
  @apply text-zinc-700 text-base leading-relaxed;
}
.custom-content-text-gray {
  @apply text-zinc-600 text-base;
}

body,
html {
  @apply bg-white bg-topography text-zinc-950;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Borders */

.custom-border-gray {
  @apply border border-solid border-[rgb(255,255,255,0.15)];
}
.custom-border-gray-darker {
  @apply border border-solid border-[rgb(255,255,255,0.07)];
}

/* Buttons */

.custom-button-colored {
  @apply rounded-lg font-bold bg-sagegreen text-zinc-900 flex justify-center items-center hover:bg-[#7274f3] cursor-pointer transition;
}

/* Navbar */

.navbar-link {
  @apply text-zinc-950 text-xl leading-6 mx-4 cursor-pointer font-medium hover:scale-105 transition-transform duration-300 pt-2;
}


/* Preventing FOUC */
@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}
