---

---

<section
  class="text-white font-Montserrat bg-[#030105] bg-lineargradientabout sm:px-10 lg:px-20"
>
  <h2 class="font-MerriweatherSans font-bold text-5xl">Here’s what we do</h2>
  <div class="px-5 py-24 flex flex-wrap justify-center">
    <div class="flex flex-wrap w-full">
      <div class="lg:w-3/5 md:w-1/2 md:pr-10 md:py-6">
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-darkpastelblue pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-jacarta inline-flex items-center justify-center text-white relative z-10"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              class="w-5 h-5"
              viewBox="0 0 256 256"
              xml:space="preserve"
            >
              <defs> </defs>
              <g
                style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
              >
                <path
                  d="M 45 18.719 c -1.657 0 -3 -1.343 -3 -3 V 3 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 v 12.719 C 48 17.376 46.657 18.719 45 18.719 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 55.267 18.719 c -1.657 0 -3 -1.343 -3 -3 V 3 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 v 12.719 C 58.267 17.376 56.924 18.719 55.267 18.719 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 65.533 18.719 c -1.657 0 -3 -1.343 -3 -3 V 3 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 v 12.719 C 68.533 17.376 67.19 18.719 65.533 18.719 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 34.733 18.719 c -1.657 0 -3 -1.343 -3 -3 V 3 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 v 12.719 C 37.733 17.376 36.39 18.719 34.733 18.719 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 24.467 18.719 c -1.657 0 -3 -1.343 -3 -3 V 3 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 v 12.719 C 27.467 17.376 26.124 18.719 24.467 18.719 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 45 90 c -1.657 0 -3 -1.343 -3 -3 V 74.281 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 V 87 C 48 88.657 46.657 90 45 90 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 55.267 90 c -1.657 0 -3 -1.343 -3 -3 V 74.281 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 V 87 C 58.267 88.657 56.924 90 55.267 90 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 65.533 90 c -1.657 0 -3 -1.343 -3 -3 V 74.281 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 V 87 C 68.533 88.657 67.19 90 65.533 90 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 34.733 90 c -1.657 0 -3 -1.343 -3 -3 V 74.281 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 V 87 C 37.733 88.657 36.39 90 34.733 90 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 24.467 90 c -1.657 0 -3 -1.343 -3 -3 V 74.281 c 0 -1.657 1.343 -3 3 -3 s 3 1.343 3 3 V 87 C 27.467 88.657 26.124 90 24.467 90 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 15.719 48 H 3 c -1.657 0 -3 -1.343 -3 -3 c 0 -1.657 1.343 -3 3 -3 h 12.719 c 1.657 0 3 1.343 3 3 C 18.719 46.657 17.376 48 15.719 48 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 15.719 37.733 H 3 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 12.719 c 1.657 0 3 1.343 3 3 S 17.376 37.733 15.719 37.733 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 15.719 27.467 H 3 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 12.719 c 1.657 0 3 1.343 3 3 S 17.376 27.467 15.719 27.467 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 15.719 58.267 H 3 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 12.719 c 1.657 0 3 1.343 3 3 S 17.376 58.267 15.719 58.267 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 15.719 68.533 H 3 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 12.719 c 1.657 0 3 1.343 3 3 S 17.376 68.533 15.719 68.533 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 87 48 H 74.281 c -1.657 0 -3 -1.343 -3 -3 c 0 -1.657 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 C 90 46.657 88.657 48 87 48 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 87 37.733 H 74.281 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 S 88.657 37.733 87 37.733 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 87 27.467 H 74.281 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 S 88.657 27.467 87 27.467 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 87 58.267 H 74.281 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 S 88.657 58.267 87 58.267 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 87 68.533 H 74.281 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 H 87 c 1.657 0 3 1.343 3 3 S 88.657 68.533 87 68.533 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 74.281 12.719 H 15.719 c -1.657 0 -3 1.343 -3 3 v 58.562 c 0 1.657 1.343 3 3 3 h 58.562 c 1.657 0 3 -1.343 3 -3 V 15.719 C 77.281 14.063 75.938 12.719 74.281 12.719 z M 48.111 59.046 c 0 1.657 -1.343 3 -3 3 c -1.657 0 -3 -1.343 -3 -3 v -9.752 H 30.675 v 9.752 c 0 1.657 -1.343 3 -3 3 s -3 -1.343 -3 -3 V 39.672 c 0 -6.461 5.257 -11.718 11.718 -11.718 s 11.718 5.257 11.718 11.718 V 59.046 z M 62.325 56.046 c 1.657 0 3 1.343 3 3 s -1.343 3 -3 3 h -7.697 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 0.849 V 33.954 h -0.849 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 7.697 c 1.657 0 3 1.343 3 3 s -1.343 3 -3 3 h -0.849 v 22.092 H 62.325 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
                <path
                  d="M 36.393 33.954 c -3.153 0 -5.718 2.565 -5.718 5.718 v 3.622 h 11.437 v -3.622 C 42.111 36.52 39.546 33.954 36.393 33.954 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) "
                  stroke-linecap="round"></path>
              </g>
            </svg>
          </div>
          <div class="flex-grow pl-4 flex items-center">
            <p class="leading-relaxed text-white">
              Seamlessly integrate AI-powered strategies into cutting-edge
              digital solutions.
            </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-darkpastelblue pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-jacarta inline-flex items-center justify-center text-white relative z-10"
          >
            <svg
              fill="rgb(255,255,255)"
              class="w-5 h-5"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 487 487"
              xml:space="preserve"
            >
              <g>
                <g>
                  <path
                    d="M308.1,277.95c0,35.7-28.9,64.6-64.6,64.6s-64.6-28.9-64.6-64.6s28.9-64.6,64.6-64.6S308.1,242.25,308.1,277.95z
			 M440.3,116.05c25.8,0,46.7,20.9,46.7,46.7v122.4v103.8c0,27.5-22.3,49.8-49.8,49.8H49.8c-27.5,0-49.8-22.3-49.8-49.8v-103.9
			v-122.3l0,0c0-25.8,20.9-46.7,46.7-46.7h93.4l4.4-18.6c6.7-28.8,32.4-49.2,62-49.2h74.1c29.6,0,55.3,20.4,62,49.2l4.3,18.6H440.3z
			 M97.4,183.45c0-12.9-10.5-23.4-23.4-23.4c-13,0-23.5,10.5-23.5,23.4s10.5,23.4,23.4,23.4C86.9,206.95,97.4,196.45,97.4,183.45z
			 M358.7,277.95c0-63.6-51.6-115.2-115.2-115.2s-115.2,51.6-115.2,115.2s51.6,115.2,115.2,115.2S358.7,341.55,358.7,277.95z"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="flex-grow pl-4 flex items-center">
            <p class="leading-relaxed">
              Offer brand storytelling, event photography, videography, and web
              solutions.
            </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
            <div class="h-full w-1 bg-darkpastelblue pointer-events-none"></div>
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-jacarta inline-flex items-center justify-center text-white relative z-10"
          >
            <svg
              fill="rgb(255,255,255)"
              class="w-5 h-5"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 247.065 247.065"
              xml:space="preserve"
            >
              <g>
                <path
                  d="M160.551,36.935c-0.614-1.892-1.956-3.462-3.727-4.365c-1.774-0.904-3.831-1.065-5.724-0.45l-31.376,10.196
		c-3.939,1.28-6.096,5.511-4.815,9.45l1.568,4.828l-79.811,58.625L5.183,125.448c-1.892,0.615-3.462,1.956-4.365,3.728
		c-0.903,1.772-1.065,3.831-0.45,5.723l19.129,58.862c1.03,3.169,3.97,5.184,7.131,5.184c0.769,0,1.55-0.119,2.32-0.369
		l31.478-10.229l16.173,0.085c3.248,15.336,16.888,26.88,33.176,26.88c16.164,0,29.714-11.371,33.095-26.531l16.587,0.087
		l1.568,4.829c0.614,1.892,1.955,3.462,3.728,4.365c1.064,0.542,2.232,0.817,3.405,0.817c0.78,0,1.563-0.122,2.317-0.367
		l31.377-10.195c3.939-1.28,6.096-5.511,4.816-9.45L160.551,36.935z M31.444,181.992l-14.492-44.597l18.364-5.967l14.49,44.597
		L31.444,181.992z M109.774,200.312c-7.912,0-14.694-4.887-17.513-11.797l34.958,0.184
		C124.356,195.514,117.617,200.312,109.774,200.312z M64.714,173.369l-7.888-24.277l-7.888-24.277l72.419-53.194l22.209,68.349
		l11.006,33.873L64.714,173.369z M172.972,181.929l-0.921-2.833c-0.001-0.005-0.002-0.011-0.004-0.017l-19.815-60.983l-20.74-63.833
		l17.111-5.561l41.48,127.665L172.972,181.929z"
                ></path>
                <path
                  d="M185.807,73.393c1.092,0.556,2.254,0.819,3.4,0.819c2.73,0,5.363-1.496,6.688-4.096l13.461-26.41
		c1.882-3.69,0.415-8.207-3.275-10.088c-3.69-1.88-8.207-0.415-10.088,3.276l-13.461,26.41
		C180.65,66.995,182.117,71.512,185.807,73.393z"
                ></path>
                <path
                  d="M242.176,144.712l-26.414-13.455c-3.691-1.879-8.207-0.412-10.087,3.279c-1.881,3.691-0.412,8.207,3.278,10.087
		l26.414,13.455c1.091,0.555,2.253,0.818,3.398,0.818c2.73,0,5.364-1.497,6.689-4.097
		C247.335,151.109,245.867,146.593,242.176,144.712z"
                ></path>
                <path
                  d="M204.242,101.204c1.03,3.169,3.97,5.184,7.131,5.184c0.769,0,1.55-0.119,2.32-0.369l28.188-9.16
		c3.938-1.28,6.095-5.511,4.814-9.451c-1.28-3.94-5.511-6.092-9.451-4.815l-28.188,9.16
		C205.118,93.034,202.962,97.265,204.242,101.204z"
                ></path>
              </g>
            </svg>
          </div>
          <div class="flex-grow pl-4 flex items-center">
            <p class="leading-relaxed">
              Specialize in AI-driven strategies for digital marketing.
            </p>
          </div>
        </div>
        <div class="flex relative pb-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          >
          </div>
          <div
            class="flex-shrink-0 w-10 h-10 rounded-full bg-jacarta inline-flex items-center justify-center text-white relative z-10"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow pl-4 flex items-center">
            <p class="leading-relaxed">
              Craft engaging brand narratives for enhanced online presence.
            </p>
          </div>
        </div>
      </div>
      <svg
        width="731"
        height="373"
        class="lg:w-2/5 md:w-1/2 object-cover object-center rounded-lg md:mt-0 mt-12"
        viewBox="0 0 731 373"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_66_106)">
          <path
            d="M698.553 206.215L696.263 224.417L690.58 269.629H576.409C577.3 259.495 578.519 244.91 579.821 229.165C579.949 227.592 580.084 226.01 580.212 224.417C583.477 184.838 587.05 140.05 587.05 140.05L602.06 142.841L631.182 148.247L643.049 150.448L674.826 156.355C690.67 159.294 701.568 182.194 698.553 206.215Z"
            fill="rgb(255,255,255)"></path>
          <path
            d="M612.193 66.8079L626.233 91.3344L599.248 110.425L587.737 80.2776L612.193 66.8079Z"
            fill="#FFB6B6"></path>
          <path
            d="M594.319 90.0112C613.528 90.0112 629.101 74.4658 629.101 55.2895C629.101 36.1133 613.528 20.5679 594.319 20.5679C575.109 20.5679 559.537 36.1133 559.537 55.2895C559.537 74.4658 575.109 90.0112 594.319 90.0112Z"
            fill="#FFB6B6"></path>
          <path
            d="M591.821 63.0516C589.06 58.8557 590.144 56.661 587.831 55.119C587.831 55.1189 586.901 54.4984 580.242 54.1447C578.751 43.433 576.89 42.134 576.89 42.1339C574.745 40.6368 571.562 41.1232 569.581 42.0389C565.393 43.9755 565.879 48.1588 563.059 48.9593C559.163 50.0651 552.075 43.8311 551.377 36.6943C550.807 30.8727 554.564 25.2186 556.055 25.5177C557.532 25.8142 561.07 21.3059 562.98 21.3754C564.284 21.4229 569.614 19.1104 571.048 19.2912C572.614 19.4886 577.776 22.1781 577.991 21.5636C579.486 17.2937 579.047 16.109 580.316 14.8875C582.563 12.7229 586.241 14.2303 592.009 15.0395C603.878 16.7045 605.95 12.7977 612.033 15.4457C615.105 16.7834 617.676 20.391 622.693 27.5515C629.709 37.5654 633.217 42.5723 633.239 48.4122C633.262 54.3678 630.373 53.9898 629.104 62.8066C627.692 72.6212 630.693 77.109 627.414 80.2976C624.88 82.7619 619.729 83.3469 617.023 81.1841C612.389 77.4811 618.453 68.5458 613.326 62.0177C610.178 58.0105 603.848 56.2275 600.949 58.2083C597.67 60.448 599.476 67.022 597.171 67.6454C595.196 68.1792 592.303 63.7828 591.821 63.0516Z"
            fill="#2F2E41"></path>
          <path
            d="M672.845 199.805C671.874 216.364 668.021 221.592 666.671 241.148C666.376 245.442 666.199 250.425 666.199 256.369C666.199 257.884 666.208 259.349 666.208 260.781C666.208 263.828 666.149 266.707 665.794 269.628C665.525 271.96 665.061 274.309 664.294 276.784H589.381C589.373 276.767 589.373 276.75 589.364 276.734C588.926 274.831 588.647 273.013 588.437 271.27C588.369 270.714 588.31 270.167 588.26 269.628C588.192 268.997 588.133 268.374 588.074 267.76C587.846 265.31 587.619 262.995 587.079 260.781C586.354 257.724 585.038 254.845 582.339 252.067C581.235 250.931 580.13 250.047 579.051 249.272C578.84 249.129 578.637 248.986 578.426 248.843C575.441 246.797 572.616 245.324 570.17 241.148C570.128 241.089 570.094 241.022 570.061 240.963C569.639 240.231 568.543 238.311 567.75 235.752C566.915 233.092 566.409 229.749 567.32 226.332C569.487 218.233 577.515 217.425 584.077 209.242C584.785 208.358 585.485 207.381 586.151 206.295C589.119 201.48 589.921 197.237 590.865 192.194C591.017 191.377 591.152 190.569 591.261 189.787C591.346 189.197 591.422 188.616 591.481 188.044C592.003 183.237 591.751 179.095 591.135 175.391C589.128 163.259 583.208 155.75 587.391 144.865C588.707 141.447 590.57 138.879 592.451 136.682C596.431 132.026 600.521 129.004 599.813 122.994C599.096 116.932 594.491 116.099 593.977 110.803C593.716 108.126 594.593 105.306 596.237 102.536V102.528C601.5 93.6126 614.639 85.4045 622.987 85.6655C624.531 85.7078 625.897 86.0527 627.035 86.7178C631.159 89.1423 629.439 94.4376 635.756 101.863C640.452 107.377 645.765 109.583 647.781 110.626C655.767 114.786 662.261 127.051 666.671 142.735C666.705 142.853 666.739 142.971 666.772 143.097C669.497 152.922 671.42 164.076 672.373 175.391C672.777 180.181 673.013 184.997 673.064 189.761C673.106 193.566 673.022 196.867 672.845 199.805Z"
            fill="#6F8573"></path>
          <path
            d="M616.747 256.537L615.22 260.78L614.259 263.44L612.032 269.628L609.452 276.784H592.864L595.647 269.628L596.937 266.294L599.079 260.78L602.672 251.52L616.747 256.537Z"
            fill="#FFB6B6"></path>
          <path
            d="M666.933 141.287C666.891 141.834 666.832 142.44 666.772 143.097C666.115 149.781 664.563 161.744 662.295 175.391C661.097 182.588 659.697 190.258 658.12 197.877C654.73 214.318 650.514 230.507 645.749 241.148C644.897 243.068 644.02 244.802 643.126 246.334C642.443 247.504 641.726 248.657 640.975 249.794C638.547 253.524 635.822 257.06 632.997 260.36C632.888 260.503 632.761 260.637 632.635 260.78C632.18 261.319 631.707 261.85 631.235 262.38C628.924 264.981 626.563 267.406 624.278 269.628C621.495 272.339 618.813 274.739 616.409 276.784H589.473L589.364 276.733L585.485 275.016C585.485 275.016 586.589 273.72 588.436 271.27C588.816 270.773 589.221 270.226 589.659 269.628C590.199 268.896 590.781 268.088 591.405 267.212C592.703 265.377 594.179 263.222 595.764 260.78C598.835 256.057 602.334 250.249 605.868 243.522C606.273 242.739 606.686 241.948 607.099 241.148C607.107 241.123 607.125 241.098 607.133 241.072C607.833 239.709 608.525 238.303 609.216 236.871C615.077 224.698 616.755 214.596 617.236 211.321C617.911 206.691 618.846 200.217 618.593 193.095C618.425 188.398 617.742 183.43 616.115 178.497V178.489C615.777 177.453 615.397 176.418 614.967 175.391C614.2 173.547 613.289 171.729 612.209 169.935C607.445 162.039 603.574 161.71 600.496 153.107C599.585 150.556 597.519 144.798 598.151 138.719V138.711C598.228 137.962 598.354 137.204 598.523 136.446V136.438C598.565 136.227 598.624 136.009 598.683 135.798C599.163 133.938 599.956 132.094 601.162 130.343C603.515 126.942 606.728 124.921 609.604 123.718L609.613 123.709C612.935 122.329 615.802 122.034 616.359 121.983C628.68 120.889 638.234 131.227 643.455 136.876C645.47 139.056 647.318 140.883 649.004 142.373C662.134 154.075 665.736 146.599 666.671 142.735C666.814 142.137 666.891 141.624 666.933 141.287Z"
            fill="#6F8573"></path>
          <path
            d="M666.975 140.849C666.975 140.891 666.967 141.034 666.933 141.27C666.949 141.144 666.959 141.017 666.967 140.9C666.967 140.874 666.967 140.858 666.975 140.849Z"
            fill="#6F8573"></path>
          <path
            d="M599.999 318.49H147.936C143.736 318.49 140.312 321.899 140.312 326.092C140.312 330.293 143.736 333.702 147.936 333.702H599.999C604.198 333.702 607.614 330.293 607.614 326.092C607.614 321.899 604.198 318.49 599.999 318.49Z"
            fill="#E6E6E6"></path>
          <path
            d="M499.677 357.788H248.249C244.049 357.788 240.634 361.197 240.634 365.39C240.634 369.582 244.049 373 248.249 373H499.677C503.877 373 507.301 369.582 507.301 365.39C507.301 361.197 503.877 357.788 499.677 357.788Z"
            fill="#E6E6E6"></path>
          <path
            d="M198.239 68.4217L226.73 56.4524L238.95 81.4602L209.01 93.6591L198.239 68.4217Z"
            fill="#FFB6B6"></path>
          <path
            opacity="0.1"
            d="M198.239 68.4217L226.73 56.4524L238.95 81.4602L209.01 93.6591L198.239 68.4217Z"
            fill="black"></path>
          <path
            d="M202.289 58.8922L230.396 91.2193C230.396 91.2193 210.844 152.824 191.291 158.313C171.739 163.803 135.69 190.64 135.69 190.64L90.4753 161.363L112.472 129.036C112.472 129.036 165.629 56.4524 179.682 56.4524C193.735 56.4524 202.289 58.8922 202.289 58.8922Z"
            fill="#6F8573"></path>
          <path
            d="M164.315 269.628H98.8888L94.7523 264.108L77.8641 241.571L73.9781 236.386C73.9781 236.386 59.3139 209.549 62.369 185.151C65.424 160.753 97.1963 155.264 97.1963 155.264H98.5039L137.401 189.384L135.079 221.138L147.397 241.571L164.315 269.628Z"
            fill="#2F2E41"></path>
          <path
            d="M112.288 269.629H94.7523V243.706L112.288 269.629Z"
            fill="#2F2E41"></path>
          <path
            d="M490.513 230.275L488.332 241.571L482.919 269.628H374.166C375.015 263.34 376.176 254.288 377.416 244.517C377.538 243.541 377.667 242.559 377.789 241.571C380.899 217.008 384.302 189.213 384.302 189.213L398.6 190.945L426.339 194.3L437.643 195.666L467.912 199.332C483.004 201.156 493.385 215.368 490.513 230.275Z"
            fill="#F2F2F2"></path>
          <path
            d="M644.42 269.628H585.433C586.332 268.573 586.839 267.963 586.839 267.963L604.521 265.048L640.955 259.046C640.955 259.046 642.617 263.334 644.42 269.628Z"
            fill="#2F2E41"></path>
          <path
            d="M394.215 80.6216L419.867 116.837L375.121 118.171L370.318 84.1369L394.215 80.6216Z"
            fill="#A0616A"></path>
          <path
            opacity="0.1"
            d="M394.215 80.6216L419.867 116.837L375.121 118.171L370.318 84.1369L394.215 80.6216Z"
            fill="black"></path>
          <path
            d="M267.709 155.656C264.418 146.178 256.85 140.19 250.808 142.282C244.766 144.374 242.537 153.753 245.831 163.234C247.095 167.04 249.253 170.488 252.125 173.29L266.58 213.275L285.232 206.104L269.002 167.447C269.521 163.47 269.077 159.427 267.709 155.656Z"
            fill="#A0616A"></path>
          <path
            d="M441.35 137.203L441.315 174.111L437.875 187.743L430.8 215.782L425.649 241.571L421.812 260.784L420.443 267.646C419.411 268.335 418.384 268.994 417.358 269.629H327.986C322.908 266.585 320.067 264.218 320.067 264.218C320.067 264.218 321.472 262.901 323.079 260.784C325.792 257.21 329.073 251.355 327.063 245.761C326.641 244.59 326.531 243.163 326.66 241.571C327.479 231.068 338.513 213.306 338.513 213.306L336.228 186.944L335.226 175.392L342.291 119.063L365.32 105.699L369.296 105.315L408.541 103.199L424.761 104.132L425.501 104.333L441.35 137.203Z"
            fill="#CCCCCC"></path>
          <path
            d="M443.093 269.629H423.541L422.679 260.784L422.661 260.607L428.197 260.229L442.598 259.247L442.849 264.542L443.044 268.604L443.093 269.629Z"
            fill="#FFB6B6"></path>
          <path
            d="M447.906 146.127L456.12 194.233L449.417 241.571L448.372 248.939L446.527 261.949L445.959 265.951L445.977 266.384L446.118 269.629H422.899L422.044 260.784L421.971 259.991L420.223 241.876L420.193 241.571L416.484 203.157L423.755 175.392L424.293 173.349V173.343L427.456 125.803L425.006 104.199L424.981 103.998C425.03 104.028 425.073 104.059 425.122 104.089C425.25 104.169 425.379 104.248 425.501 104.333C439.774 113.373 448.279 129.231 447.906 146.127Z"
            fill="#CCCCCC"></path>
          <path
            d="M350.609 128.281L341.681 119.062C341.681 119.062 322.567 127.664 321.614 132.436C320.662 137.209 286.915 207.299 286.915 207.299L272.233 168.154L253.121 180.891C253.121 180.891 268.456 241.667 282.798 244.52C297.139 247.373 345.205 172.586 345.205 172.586L350.609 128.281Z"
            fill="#CCCCCC"></path>
          <path
            d="M713.147 241.148H17.8448C8.00333 241.148 0 249.146 0 258.97C0 268.795 8.00332 276.784 17.8448 276.784H713.147C722.988 276.784 731 268.795 731 258.97C731 249.145 722.988 241.148 713.147 241.148Z"
            fill="#E6E6E6"></path>
          <path
            d="M437.281 186.842L435.929 249.815C435.799 255.911 430.811 260.784 424.703 260.784H308.659C302.696 260.784 297.773 256.131 297.447 250.186L293.998 187.213C293.647 180.792 298.768 175.392 305.211 175.392H426.055C432.35 175.392 437.416 180.558 437.281 186.842Z"
            fill="#3F3D56"></path>
          <path
            d="M249.948 83.6229C265.281 83.6229 277.712 71.2142 277.712 55.9074C277.712 40.6005 265.281 28.1919 249.948 28.1919C234.614 28.1919 222.184 40.6005 222.184 55.9074C222.184 71.2142 234.614 83.6229 249.948 83.6229Z"
            fill="#FFB6B6"></path>
          <path
            d="M203.511 128.426L206.567 161.363L227.341 244.926L209.393 251.205L179.071 160.143L174.883 123.547L203.511 128.426Z"
            fill="#FFB6B6"></path>
          <path
            d="M195.248 186.842L193.896 249.815C193.765 255.911 188.777 260.784 182.669 260.784H66.6261C60.6625 260.784 55.7392 256.131 55.4136 250.186L51.965 187.213C51.6133 180.792 56.7349 175.392 63.1775 175.392H184.021C190.317 175.392 195.383 180.558 195.248 186.842Z"
            fill="#3F3D56"></path>
          <path
            d="M230.649 261.21C242.758 261.21 252.575 256.875 252.575 251.529C252.575 246.182 242.758 241.847 230.649 241.847C218.539 241.847 208.722 246.182 208.722 251.529C208.722 256.875 218.539 261.21 230.649 261.21Z"
            fill="#FFB6B6"></path>
          <path
            d="M160.435 133.462L172.961 66.8215C172.961 66.8215 207.788 61.9419 209.01 73.5309C210.233 85.1199 208.137 141.757 208.137 141.757L160.435 133.462Z"
            fill="#6F8573"></path>
          <path
            d="M238.74 60.2652C238.74 60.2652 255.915 54.1463 263.16 50.854C270.404 47.5617 284.797 70.5252 285.117 58.3974C285.437 46.2696 280.464 41.1838 280.464 41.1838C280.464 41.1838 279.222 14.6526 252.446 17.9696C252.446 17.9696 258.336 4.69574 239.003 2.64319C219.67 0.590626 189.593 47.1951 192.287 54.1599C194.98 61.1247 198.209 66.8828 190.567 74.3297C182.925 81.7766 168.615 123.805 179.503 135.115C190.39 146.424 191.105 151.332 183.645 158.368C176.185 165.404 158.553 180.702 177.618 183.358C196.683 186.014 175.874 184.031 190.087 171.55C204.3 159.07 225.04 159.58 217.296 139.556C209.552 119.532 223.006 90.8381 221.323 86.4851C219.639 82.1321 225.095 54.4903 225.095 54.4903C225.095 54.4903 237.791 52.6282 238.74 60.2652Z"
            fill="#2F2E41"></path>
          <path
            d="M380.499 93.7295C397.191 93.7295 410.722 80.2218 410.722 63.5592C410.722 46.8966 397.191 33.3889 380.499 33.3889C363.808 33.3889 350.277 46.8966 350.277 63.5592C350.277 80.2218 363.808 93.7295 380.499 93.7295Z"
            fill="#A0616A"></path>
          <path
            d="M382.911 22.9974C382.037 23.507 380.865 22.736 380.585 21.7646C380.305 20.7933 380.631 19.762 380.955 18.8043L382.586 13.9828C383.742 10.5633 384.97 7.02436 387.475 4.42168C391.255 0.493373 397.263 -0.50597 402.672 0.218019C409.617 1.14777 416.47 4.90216 419.699 11.1105C422.929 17.3189 421.554 25.9818 415.718 29.8552C424.035 39.3711 426.934 49.9761 426.477 62.5964C426.019 75.2166 412.242 86.8314 403.257 95.7219C401.251 94.5077 399.427 88.8178 400.53 86.7508C401.634 84.6838 400.053 82.2891 401.419 80.3851C402.786 78.4812 403.929 81.5128 402.548 79.6197C401.676 78.4251 405.078 75.6768 403.782 74.9618C397.515 71.5035 395.431 63.7053 391.494 57.7335C386.747 50.5305 378.621 45.6525 370.021 44.8433C365.284 44.3975 360.281 45.2049 356.398 47.9502C352.515 50.6956 350.002 55.6015 350.902 60.2655C348.57 57.9019 347.409 54.4381 347.847 51.1497C348.285 47.8612 350.312 44.8203 353.181 43.1467C351.436 37.3872 352.931 30.7621 356.98 26.3052C361.03 21.8483 377.457 22.6074 383.369 23.7804L382.911 22.9974Z"
            fill="#2F2E41"></path>
          <path
            d="M383.829 45.0181C391.66 45.8619 397.313 52.6327 402.087 58.8856C404.839 62.4896 407.721 66.4697 407.652 71.0006C407.582 75.5815 404.514 79.5106 403.048 83.8519C400.651 90.9478 402.987 99.3904 408.692 104.253C403.055 105.32 396.96 101.101 395.987 95.4557C394.854 88.8842 399.845 82.5416 399.254 75.8996C398.733 70.0479 394.113 65.5443 390.186 61.169C386.259 56.7937 382.571 50.9877 384.377 45.3967L383.829 45.0181Z"
            fill="#2F2E41"></path>
          <path
            d="M500.889 244.961C493.133 249.365 489.122 256.93 491.931 261.856C494.739 266.783 503.301 267.206 511.059 262.8C514.183 261.082 516.848 258.643 518.834 255.686L551.459 236.613L542.167 221.52L510.99 241.925C507.429 242.117 503.965 243.158 500.889 244.961Z"
            fill="#FFB6B6"></path>
          <path
            d="M611.353 105.098C610.378 104.712 601.824 101.478 594.014 105.748C585.042 110.653 583.656 121.85 583.17 125.777C582.048 134.849 585.355 136.882 586.053 146.067C587.36 163.249 590.804 143.647 585.303 151.49C583.399 154.205 563.953 196.275 553.228 204.516C532.37 220.543 519.125 231.829 519.125 231.829L534.246 248.227C534.246 248.227 558.14 241.871 579.259 228.182C600.923 214.14 611.754 207.119 620.134 193.383C620.856 192.201 638.123 162.928 628.85 130.56C626.735 123.177 622.859 109.65 611.353 105.098Z"
            fill="#6F8573"></path>
          <path
            d="M689.434 186.842L688.083 249.815C687.952 255.911 682.964 260.784 676.856 260.784H560.813C554.849 260.784 549.926 256.131 549.6 250.186L546.152 187.213C545.8 180.792 550.922 175.392 557.364 175.392H678.208C684.504 175.392 689.569 180.558 689.434 186.842Z"
            fill="#3F3D56"></path>
        </g>
        <defs>
          <clipPath id="clip0_66_106">
            <rect width="731" height="373" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</section>
