---

---

<section class="relative z-20" id="contact">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20 z-20">
    <div class="mb-4">
      <div class="mb-6 max-w-7xl text-center md:mx-auto md:mb-12">
        <p
          class="text-base font-semibold uppercase tracking-wide text-blue-600"
        >
          Collaborators
        </p>
        <h2
          class="font-heading mb-2 font-bold tracking-tight text-white text-3xl sm:text-5xl"
        >
          Successful Collaborations
        </h2>
        <p class="mx-auto mt-2 max-w-7xl text-xl text-white">
          Discover the success stories of our fruitful collaborations with a
          variety of businesses. From startups to established enterprises,
          explore the list below to see the diverse range of collaborators we've
          worked with.
        </p>
      </div>
    </div>
    <div
      class="relative flex min-h-screen flex-col justify-center overflow-hidden py-2 sm:py-6"
    >
      <div class="pointer-events-none relative flex gap-4 overflow-hidden">
        <div
          class="flex min-w-full text-4xl shrink-0 animate-marquee items-center justify-around gap-10"
        >
          <p class="text-center text-white">Tyler's Traven</p>
          <p class="text-center text-white">S2FlMEX LLP</p>
          <p class="text-center text-white">Pony Fans</p>
          <p class="text-center text-white">MAS</p>
          <p class="text-center text-white">Hungry Wok</p>
          <p class="text-center text-white">Environ</p>
          <p class="text-center text-white">Cyborg Fitness Club</p>
          <p class="text-center text-white">Bright Caterers</p>
          <p class="text-center text-white">AMA AUTO</p>
        </div>
        <div
          aria-hidden="true"
          class="text-4xl flex min-w-full shrink-0 animate-marquee items-center justify-around gap-10"
        >
          <p class="text-center text-white">Tyler's Traven</p>
          <p class="text-center text-white">S2FlMEX LLP</p>
          <p class="text-center text-white">Pony Fans</p>
          <p class="text-center text-white">MAS</p>
          <p class="text-center text-white">Hungry Wok</p>
          <p class="text-center text-white">Environ</p>
          <p class="text-center text-white">Cyborg Fitness Club</p>
          <p class="text-center text-white">Bright Caterers</p>
          <p class="text-center text-white">AMA AUTO</p>
        </div>
      </div>
    </div>
  </div>
</section>
