---
const clients = [
  { client: "amaauto", logo: "/clients/amaauto.png" },
  { client: "cyborg", logo: "/clients/cyborgfitnessclub.png" },
  { client: "s2fimex", logo: "/clients/s2fimexllp.png" },
  { client: "hungrywok", logo: "/clients/hungrywok.png" },
  { client: "ponyfans", logo: "/clients/ponyfans.png" },
  { client: "mas", logo: "/clients/mas.png" },
  { client: "tylers", logo: "/clients/tylers-logo.png" },
];
---

<section class="relative z-20 bg-clientgradient" id="contact">
  <div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20 z-20">
    <div class="mb-4">
      <div class="mb-6 max-w-7xl text-center md:mx-auto md:mb-12">
        <h2
          class="font-heading mb-2 font-bold tracking-tight text-white text-3xl sm:text-5xl"
        >
          Our Clients
        </h2>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="flex gap-10 flex-wrap justify-center w-3/4">
        {
          clients.map((item) => (
            <div class="bg-white px-8 py-1 rounded-xl">
              <img
                src={item.logo}
                class="w-24 h-24 grayscale"
                alt={item.client}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
