---
import { motion } from "framer-motion";
import FAQBox from "../hooks/FAQBox";
import Div from "./framer/Div.astro";

const FAQData = [
  {
    question: "What makes our agency unique?",
    answer:
      "Envision a journey where insightful data guide every twist and turn, and every step forward is toward measurable growth. That's what we bring to you with our 360-degree growth services. At our core, we're not just strategists but your dedicated partners in business growth. We shun guesswork since we believe in the power of data over mere speculation, guiding every move with precision. Why? Because your investment deserves nothing but precision. But it's about more than just strategy and data for us. It's about understanding your dreams, being a part of your journey, and feeling the same excitement for your successes.",
  },
  {
    question: "How do you approach competitor analysis and market positioning?",
    answer:
      "Competitor analysis and market positioning are foundational to our growth agency's strategic approach. We begin by conducting a comprehensive deep-dive into your industry, identifying key players, market trends, and customer preferences. Using a blend of quantitative data and qualitative insights, we map out the competitive landscape, pinpointing where your brand stands and the available whitespace opportunities. Our goal is to discern not just who your competitors are but to understand their strengths, weaknesses, opportunities, and threats in the broader market context. With this intelligence, we craft a tailored strategy that positions your brand distinctively, leveraging your unique strengths and addressing gaps. This method ensures that our growth strategies are data-driven and contextually relevant, setting your brand up for sustainable success in the market.",
  },
  {
    question: "What's your pricing model? Is it retainer-based, project-based, or performance-based?",
    answer:
      "Our pricing model is thoughtfully designed to align with our client's diverse needs and goals. While we offer retainer-based, project-based, and performance-based models, the selection largely depends on your specific requirements and business objectives. We pride ourselves on our adaptability, ensuring our collaboration aligns with your financial and strategic priorities. During our initial consultation, we delve deep into understanding your aspirations, challenges, and desired outcomes, which then inform the most suitable pricing structure. This tailored approach ensures that we're not just providing a service but a partnership that prioritizes your growth and success.",
  },
  {
    question: "How soon can your business expect to see results?",
    answer:
      "Seeing results is a journey rather than a definitive milestone. While we leverage proven growth strategies and techniques, the exact timeframe for tangible outcomes can vary based on the industry, market dynamics, and the specific challenges we are addressing. It's essential to understand that genuine, sustainable growth is a cumulative process. Immediate results might be evident in specific metrics, while others might take longer to manifest. Our commitment is to keep you informed at every step, ensuring transparency and a clear understanding of our progress together.",
  },
];
---

<section class="relative pt-16 pb-16 overflow-hidden">
  <Div
    initial={{ opacity: 0 }}
    whileInView={{ opacity: 1 }}
    viewport={{ once: true }}
    transition={{ duration: 0.5, delay: 0.2 }}
  >
    <div class="container mx-auto w-11/12 sm:w-full">
      <div class="md:max-w-4xl mx-auto">
        <p class="mb-7 custom-block-subtitle text-center">
          Have any questions?
        </p>
        <h2 class="mb-16 custom-block-big-title text-center">
          Frequently Asked Questions
        </h2>
        <div class="mb-11 flex flex-wrap -m-1">
          {
            FAQData.map((item, index) => (
            <div class="w-full px-1">
                <hr class="my-6 border-gray-200" />
                <FAQBox {...item} defaultOpen={index === 0} client:load />
            </div>
            ))
          }
          <div class="w-full px-1">
                <hr class="my-6 border-gray-200" />
          </div>
        </div>
      </div>
    </div>
  </Div>
</section>
