---
import { Image } from "astro:assets";
import Logo from "../assets/logo.webp";
---

<footer class="w-full">
  <div
    class="container flex flex-col md:flex-row items-center justify-between px-5 py-10 mx-auto"
  >
    <div class="flex-shrink-0 w-64 mx-auto text-center md:mx-0 md:text-left">
      <a
        class="flex items-center justify-center font-medium text-white title-font md:justify-start"
        href="#home"
      >
        <Image class="h-10 w-10 m-2" src={Logo} alt="Fade Media" width={50} />
         Fade Media
      </a>
    </div>
    <div class="flex items-center justify-center mt-4 md:w-1/4">
      <a class="text-white cursor-pointer px-4" href="#contact"
        >Send a Message</a
      >
      <a class="text-white cursor-pointer px-4">Terms & Privacy</a>
      <span
        class="inline-flex justify-center sm:ml-auto sm:mt-0 sm:justify-start"
      >
        <a class="text-white cursor-pointer">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>
        <!-- Add other social media icons here -->
      </span>
    </div>
  </div>
</footer>
