---
import Div from "./framer/Div.astro";
import Span from "./framer/Span.astro";
import Typography from "../hooks/Typography";
import Lottie from "./shared/Lottie";
---

<!-- <section class="w-screen flex flex-wrap justify-center items-center" id="home">
  <Div>
    <div
      class="text-5xl sm:text-6xl lg:text-7xl xl:text-7xl font-semibold tracking-wide leading-relaxed h-[720px] -translate-y-5 flex justify-center items-center"
    >
      <Span
        classes="md:inline bg-gradient-to-t from-purple-200 via-purple-400 to-purple-800 text-transparent bg-clip-text tracking-wide sm:leading-loose text-center font-Pacifico"
      >
        digital visionaries.
      </Span>
    </div>
  </Div>
  <Div>
    <Lottie
      LottieSource={"https://lottie.host/2c63b9df-5ecb-46e1-a49b-167d1a174bdc/NewOJ2mug6.lottie"}
      loop={true}
      client:load
    />
  </Div>
</section> -->
<section
  class="w-screen flex flex-col justify-around items-center bg-radialgradient"
  id="home"
>
  <div class="w-full flex flex-col justify-center items-center text-center">
    <Div
      initial={{ opacity: 0, y: 10 }}
      animate={{ opacity: 1, y: 0 }}
      transition={{ duration: 0.5, delay: 0.05 }}
    >
      <div
        class="text-5xl sm:text-6xl lg:text-7xl xl:text-7xl font-bold tracking-wide text-zinc-900 mt-72 sm:px-8 md:px-20 lg:px-4"
      >
        <Span
          classes="md:whitespace-nowrap font-MerriweatherSans font-font-bold text-white tracking-wide md:leading-[0.5] text-center"
        >
          Digital Visionaries.
        </Span>
        <span class="text-3xl font-Montserrat text-darkpastelblue font-normal"
          >Pioneering tomorrow's trends today.</span
        >
      </div>
    </Div>
    <h2
      class="text-6xl sm:text-7xl lg:text-7xl xl:text-7xl my-24 font-MerriweatherSans text-white"
    >
      <span class="block sm:inline">We are </span>{(<Typography client:load />)}
    </h2>
  </div>
  <div class="w-full flex flex-col items-center">
    <Div
      initial={{ opacity: 0, y: "100%" }}
      animate={{ opacity: 1, y: "calc(100vh - 50%)" }}
      transition={{ duration: 1 }}
    >
      <div class="mt-20 min-w-[320px] min-h-[320px]">
        <!-- <Lottie
        LottieSource={"https://lottie.host/2c63b9df-5ecb-46e1-a49b-167d1a174bdc/NewOJ2mug6.lottie"}
        loop={true}
        client:load
      /> -->
        <svg
          class=""
          viewBox="0 0 477 577"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_199_897)">
            <path
              d="M442.732 48.8449H66.4724C52.6699 48.8449 41.4463 60.077 41.4463 73.8901V331.928C41.4463 345.741 52.6699 356.973 66.4724 356.973H442.732C456.534 356.973 467.758 345.741 467.758 331.928V73.8901C467.758 60.077 456.534 48.8449 442.732 48.8449Z"
              fill="#F2F2F2"></path>
            <path
              d="M401.911 68.7204H25.6516C11.8491 68.7204 0.625488 79.9525 0.625488 93.7656V351.803C0.625488 365.616 11.8491 376.848 25.6516 376.848H401.911C415.713 376.848 426.937 365.616 426.937 351.803V93.7656C426.937 79.9525 415.713 68.7204 401.911 68.7204ZM424.305 275.856C424.305 330.178 380.302 374.215 326.022 374.215H25.6516C13.2834 374.215 3.25704 364.181 3.25704 351.803V93.7656C3.25704 81.388 13.2834 71.354 25.6515 71.354H401.911C414.279 71.354 424.305 81.388 424.305 93.7657V275.856Z"
              fill="#3F3D56"></path>
            <path
              d="M54.3699 320.928L52.1431 319.525C53.5906 317.223 55.0843 314.991 56.5812 312.892L58.7232 314.422C57.2552 316.479 55.791 318.668 54.3699 320.928Z"
              fill="#CCCCCC"></path>
            <path
              d="M68.8798 302.16L66.9961 300.321C71.0115 296.203 75.2377 292.667 79.5564 289.813L81.007 292.011C76.8445 294.762 72.7642 298.176 68.8798 302.16ZM134.531 285.537C131.389 285.537 128.526 285.134 126.383 284.783L126.808 282.185C128.98 282.54 131.595 282.903 134.531 282.903C137.124 282.903 139.673 282.619 142.322 282.032L142.89 284.603C140.052 285.232 137.318 285.537 134.531 285.537ZM95.1549 285.188L94.3633 282.677C97.1902 281.785 100.119 281.116 103.067 280.688C105.599 280.322 108.02 280.144 110.467 280.144H110.629V282.777H110.467C108.147 282.777 105.85 282.946 103.444 283.295C100.636 283.702 97.8462 284.339 95.1549 285.188ZM157.88 277.578L156.198 275.552C159.829 272.534 162.432 268.884 165.188 265.019L166.287 263.481L168.423 265.021L167.33 266.548C164.472 270.556 161.772 274.342 157.88 277.578ZM178.984 253.431L177.364 251.354C180.912 248.584 184.919 246.339 189.616 244.492C190.416 244.177 191.18 243.896 191.914 243.646L192.763 246.138C192.065 246.377 191.339 246.644 190.579 246.943C186.121 248.696 182.328 250.818 178.984 253.431ZM210.753 244.283C209.868 244.283 209.028 244.275 208.221 244.266L208.252 241.632C209.077 241.642 209.938 241.644 210.849 241.65C213.945 241.65 218.258 241.562 224.174 240.876L224.477 243.492C218.366 244.2 213.985 244.274 210.753 244.283ZM240.485 240.834L239.963 238.253C244.69 237.297 250.189 236.158 255.632 234.753L256.29 237.303C250.785 238.724 245.245 239.871 240.485 240.834ZM271.791 232.31L270.807 229.867C276.084 227.738 280.665 225.338 284.814 222.527L286.289 224.708C281.985 227.624 277.242 230.111 271.791 232.31ZM298.38 213.492L296.244 211.952C296.979 210.933 297.613 209.938 298.227 208.976C300.039 206.137 301.913 203.2 306.375 199.596L306.687 199.346L308.318 201.412L308.028 201.645C303.899 204.98 302.222 207.61 300.445 210.394C299.812 211.386 299.157 212.412 298.38 213.492ZM321.987 193.74L321.028 191.288C325.718 189.448 331.015 187.967 336.772 186.886L337.258 189.475C331.662 190.525 326.525 191.96 321.987 193.74Z"
              fill="#CCCCCC"></path>
            <path
              d="M353.343 187.54L353.178 184.912C355.735 184.752 358.409 184.647 361.124 184.598L361.172 187.231C358.495 187.279 355.861 187.383 353.343 187.54Z"
              fill="#CCCCCC"></path>
            <path
              d="M83.7144 97.2568H46.7937C44.9385 97.2568 43.4253 98.7712 43.4253 100.628C43.4253 102.498 44.9385 104.012 46.7937 104.012H83.7144C85.5696 104.012 87.0828 102.498 87.0828 100.628C87.0828 98.7712 85.5696 97.2568 83.7144 97.2568Z"
              fill="#E6E6E6"></path>
            <path
              d="M145.556 97.2568H108.635C106.78 97.2568 105.267 98.7712 105.267 100.628C105.267 102.498 106.78 104.012 108.635 104.012H145.556C147.411 104.012 148.924 102.498 148.924 100.628C148.924 98.7712 147.411 97.2568 145.556 97.2568Z"
              fill="#E6E6E6"></path>
            <path
              d="M207.398 97.2568H170.477C168.622 97.2568 167.108 98.7712 167.108 100.628C167.108 102.498 168.622 104.012 170.477 104.012H207.398C209.253 104.012 210.766 102.498 210.766 100.628C210.766 98.7712 209.253 97.2568 207.398 97.2568Z"
              fill="#E6E6E6"></path>
            <path
              d="M378.911 318.91H43.3882V321.543H378.911V318.91Z"
              fill="#E6E6E6"></path>
            <path
              d="M361.187 126.659C337.306 127.278 319.49 134.31 308.201 147.53C304.03 152.429 302.333 156.287 300.543 160.369C298.767 164.398 296.951 168.546 292.728 173.958V169.481C295.346 165.636 296.754 162.423 298.135 159.302C300.004 155.036 301.78 151.006 306.201 145.831C317.99 132.005 336.464 124.671 361.108 124.026L361.187 126.659Z"
              fill="#CCCCCC"></path>
            <path
              d="M300.543 160.369C298.767 164.398 296.951 168.546 292.728 173.958C292.228 174.603 291.688 175.275 291.109 175.973C275.873 194.105 255.517 200.057 239.149 204.85C238.123 205.153 237.123 205.429 236.149 205.693C221.597 209.643 213.623 209.498 207.689 209.406C201.729 209.301 197.794 209.235 190.755 213.264C177.847 220.625 172.558 231.396 167.439 241.812C162.163 252.531 157.19 262.657 144.505 267.41C135.703 270.702 129.519 269.069 122.979 267.358C117.361 265.87 107.235 229.245 98.2691 223.904C79.7561 227.788 68.5063 288.334 54.4669 320.753L52.0459 319.7C66.4537 286.464 78.3219 225.405 97.7164 221.323C106.361 219.506 117.743 263.249 123.65 264.803C129.782 266.423 135.558 267.937 143.584 264.935C155.295 260.563 159.821 251.332 165.071 240.653C170.124 230.382 175.847 218.742 189.439 210.973C197.11 206.588 201.571 206.667 207.729 206.772C213.597 206.878 221.518 207.009 236.149 202.967C236.886 202.756 237.636 202.545 238.412 202.322C254.439 197.634 274.372 191.8 289.083 174.287C290.53 172.562 291.728 170.969 292.728 169.481C295.346 165.636 296.754 162.423 298.135 159.302C300.004 155.036 302.333 156.287 300.543 160.369Z"
              fill="#6F8573"></path>
            <path
              d="M160.23 461.623C159.188 457.994 157.404 454.898 155.281 452.689L147.566 417.492L130.749 421.615L140.386 456.875C139.752 459.859 139.879 463.42 140.92 467.05C143.3 475.342 149.551 480.849 154.883 479.35C160.215 477.852 162.609 469.915 160.23 461.623Z"
              fill="#FFB6B6"></path>
            <path
              d="M157.903 230.737C157.903 230.737 131.345 230.193 124.592 249.548C118.446 267.165 111.159 315.565 115.098 318.362L131.864 437.512L155.773 434.224L149.637 291.262L157.903 230.737Z"
              fill="#9D74D3"></path>
            <path
              d="M280.885 451.905L276.175 577H213.676L211.149 520.944L200.044 577H133.058L141.413 480.638L150.045 460.372L155.887 446.638L280.885 451.905Z"
              fill="#2F2E41"></path>
            <path
              d="M230.886 206.983L187.466 204.349L172.992 222.784L141.414 234.636L155.887 375.532L149.308 459.806C149.308 459.806 241.413 533.546 280.886 451.905L270.36 353.146L272.991 238.586L242.728 225.418L230.886 206.983Z"
              fill="#8D55D3"></path>
            <path
              d="M314.478 174.934C314.949 179.499 314.35 183.792 312.973 187.235L320.206 230.441L299.562 233.284L294.447 189.149C292.396 186.062 290.933 181.981 290.462 177.416C289.386 166.987 293.889 157.977 300.521 157.291C307.153 156.606 313.401 164.505 314.478 174.934Z"
              fill="#FFB6B6"></path>
            <path
              d="M278.52 243.533C271.403 231.359 253.749 230.212 245.843 241.887C243.681 245.078 244.283 248.666 243.767 252.976C241.577 271.275 276.615 325.347 300.859 331.573C304.041 332.39 305.853 335.824 309.064 336.515C318.577 338.561 327.433 331.005 326.92 321.281L320.334 196.571L292.667 206.015L294.438 270.762L278.52 243.533Z"
              fill="#9D74D3"></path>
            <path
              d="M213.682 200.942C234.805 200.942 251.928 183.805 251.928 162.666C251.928 141.527 234.805 124.39 213.682 124.39C192.559 124.39 175.435 141.527 175.435 162.666C175.435 183.805 192.559 200.942 213.682 200.942Z"
              fill="#FFB6B6"></path>
            <path
              d="M249.307 134.56C248.978 134.639 254.342 129.407 254.57 129.293C259.833 126.659 254.425 152.402 250.623 151.678C241.268 149.9 237.228 146.371 233.597 155.181C232.583 157.63 231.952 160.395 229.978 162.147C227.268 164.53 222.768 164.332 220.557 167.177C218.781 169.468 219.294 172.839 220.61 175.42C221.926 178.014 223.926 180.213 225.123 182.86C226.465 185.835 220.742 195.303 218.557 200.623V200.636L218.544 200.667C217.964 202.063 216.585 198.043 215.129 197.642C213.386 197.162 210.819 201.279 208.044 200.531C208.031 200.531 208.018 200.518 208.005 200.518C205.36 199.78 202.413 198.99 199.492 198.2H199.479C191.255 195.962 189.176 199.175 188.781 199.082L183.676 193.736C181.924 192.46 182.122 188.338 180.887 187.231C179.876 186.326 177.358 188.418 176.615 187.548C172.975 183.281 172.138 179.013 169.992 170.587C168.032 162.884 163.966 139.827 172.321 138.787C180.202 137.799 174.439 126.817 182.374 127.225C181.9 125.224 182.781 123.077 184.216 121.603C185.637 120.115 187.531 119.193 189.439 118.403C198.847 114.558 197.281 111.253 207.202 113.491C208.189 112.109 222.518 113.03 224.307 113.491C224.439 113.518 219.873 114.611 226.939 113.491C226.676 115.111 231.149 115.822 230.886 117.442C231.873 116.112 242.478 123.749 242.728 125.342C243.057 127.331 240.057 126.317 242.057 126.62C243.241 126.804 245.268 129.214 245.07 130.412C245.925 129.253 246.781 128.108 247.649 126.949C247.807 126.962 247.952 126.988 248.11 127.015C252.11 127.778 247.524 140.864 247.689 136.785C247.991 129.293 253.294 133.678 249.307 134.56Z"
              fill="#2F2E41"></path>
            <path
              d="M395.832 338.282C396.126 339.008 397.144 339.008 397.438 338.282C399.493 333.213 402.418 327.536 405.599 323.198C406.109 322.504 405.406 321.576 404.597 321.869L397.777 324.338V282.087H395.494V324.338L388.671 321.868C387.862 321.575 387.159 322.503 387.669 323.198C390.851 327.536 393.776 333.213 395.832 338.282Z"
              fill="#3F3D56"></path>
            <path
              d="M440.556 381.785C440.335 382.537 441.131 383.17 441.814 382.784C446.572 380.094 452.39 377.469 457.578 376.052C458.408 375.825 458.435 374.661 457.619 374.387L450.744 372.076L477 338.99L475.212 337.569L448.956 370.655L445.148 364.475C444.696 363.742 443.57 364.031 443.537 364.892C443.333 370.27 442.096 376.536 440.556 381.785Z"
              fill="#3F3D56"></path>
            <path
              d="M419.197 409.98H374.827C372.072 409.98 369.831 407.737 369.831 404.981C363.965 387.821 364.081 371.006 369.831 354.517C369.831 351.76 372.072 349.517 374.827 349.517H419.197C421.952 349.517 424.193 351.76 424.193 354.517V404.981C424.193 407.737 421.952 409.98 419.197 409.98Z"
              fill="#E6E6E6"></path>
            <path
              d="M384.334 351.007C377.146 351.007 371.32 356.838 371.32 364.031V403.91C371.32 406.44 373.369 408.491 375.897 408.491H400.434C412.733 408.491 422.704 398.512 422.704 386.203V355.588C422.704 353.058 420.655 351.007 418.127 351.007H384.334Z"
              fill="white"></path>
            <path
              d="M407.345 365.672H386.572C386.048 365.672 385.622 365.246 385.622 364.721C385.622 364.197 386.048 363.771 386.572 363.771H407.345C407.869 363.771 408.295 364.197 408.295 364.721C408.295 365.246 407.869 365.672 407.345 365.672Z"
              fill="#E6E6E6"></path>
            <path
              d="M407.345 385.941H386.572C386.048 385.941 385.622 385.514 385.622 384.99C385.622 384.466 386.048 384.04 386.572 384.04H407.345C407.869 384.04 408.295 384.466 408.295 384.99C408.295 385.514 407.869 385.941 407.345 385.941Z"
              fill="#E6E6E6"></path>
            <path
              d="M418.492 375.813H375.424C374.901 375.813 374.475 375.387 374.475 374.862C374.475 374.338 374.901 373.912 375.424 373.912H418.492C419.016 373.912 419.442 374.338 419.442 374.862C419.442 375.387 419.016 375.813 418.492 375.813Z"
              fill="#E6E6E6"></path>
            <path
              d="M419 394.182H401.029C400.506 394.182 400.08 393.755 400.08 393.231C400.08 392.707 400.506 392.281 401.029 392.281H419C419.524 392.281 419.95 392.707 419.95 393.231C419.95 393.755 419.524 394.182 419 394.182Z"
              fill="#E6E6E6"></path>
            <path
              d="M16.3989 32.5542C25.4557 32.5542 32.7978 25.3613 32.7978 16.4885C32.7978 7.61565 25.4557 0.422791 16.3989 0.422791C7.34203 0.422791 0 7.61565 0 16.4885C0 25.3613 7.34203 32.5542 16.3989 32.5542Z"
              fill="#8D55D3"></path>
            <path
              d="M147.862 10.9923H59.593C56.5649 10.9923 54.1011 8.52665 54.1011 5.49616C54.1011 2.46567 56.5649 0 59.593 0H147.862C150.89 0 153.354 2.46567 153.354 5.49616C153.354 8.52665 150.89 10.9923 147.862 10.9923Z"
              fill="#F2F2F2"></path>
            <path
              d="M216.747 29.5947H59.593C56.5649 29.5947 54.1011 27.129 54.1011 24.0985C54.1011 21.068 56.5649 18.6024 59.593 18.6024H216.747C219.775 18.6024 222.239 21.068 222.239 24.0985C222.239 27.129 219.775 29.5947 216.747 29.5947Z"
              fill="#F2F2F2"></path>
          </g>
          <defs>
            <clipPath id="clip0_199_897">
              <rect width="477" height="577" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </Div>
    <p class="text-center my-40 w-full sm:w-1/2 md:w-3/4 text-xl font-Nunito">
      Established in May 2023, our journey from a Digital Marketing Agency to a
      thriving MarTech startup has been nothing short of remarkable. In just six
      months, our team has expanded from 2 to over 20 members!
    </p>
  </div>
</section>
