---
import Div from "./framer/Div.astro";
import Span from "./framer/Span.astro";
import Typography from "../hooks/Typography";
// import Lottie from "./shared/Lottie";
---

<section
  class="w-screen flex flex-col justify-around items-center bg-radialgradient"
  id="home"
>
  <div class="w-full flex flex-col justify-center items-center text-center">
    <Div
      initial={{ opacity: 0, y: 10 }}
      animate={{ opacity: 1, y: 0 }}
      transition={{ duration: 0.5, delay: 0.05 }}
    >
      <div
        class="text-5xl sm:text-6xl lg:text-7xl xl:text-7xl font-bold tracking-wide text-zinc-900 mt-48 sm:mt-72 sm:px-8 md:px-20 lg:px-4"
      >
        <Span
          classes="md:whitespace-nowrap font-MerriweatherSans font-font-bold text-white tracking-wide md:leading-[0.5] text-center"
        >
          Digital Visionaries.
        </Span>
        <span class="text-3xl font-Montserrat text-darkpastelblue font-normal"
          >Pioneering tomorrow's trends today.</span
        >
      </div>
    </Div>
    <h2
      class="sm:-translate-x-[60%] text-6xl sm:text-6xl lg:text-7xl xl:text-7xl my-24 font-MerriweatherSans text-white"
    >
      <span class="block sm:inline">We are&nbsp;{(<Typography client:load />)}</span>
    </h2>
  </div>
  <div class="w-full flex flex-col items-center">
    <Div
      initial={{ opacity: 0, y: "100%" }}
      animate={{ opacity: 1, y: "calc(100vh - 50%)" }}
      transition={{ duration: 1 }}
    >
      <div class="mt-20 min-w-[320px] min-h-[320px]">
        <!-- <Lottie
        LottieSource={"https://lottie.host/2c63b9df-5ecb-46e1-a49b-167d1a174bdc/NewOJ2mug6.lottie"}
        loop={true}
        client:load
      /> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 477 577" fill="none"><g clip-path="url(#A)"><path d="M442.732 48.845H66.472c-13.802 0-25.026 11.232-25.026 25.045v258.038c0 13.813 11.224 25.045 25.026 25.045h376.26c13.802 0 25.026-11.232 25.026-25.045V73.89c0-13.813-11.224-25.045-25.026-25.045z" fill="#f2f2f2"/><path d="M401.911 68.72H25.652C11.849 68.72.625 79.953.625 93.766v258.037c0 13.813 11.224 25.045 25.026 25.045h376.259c13.802 0 25.026-11.232 25.026-25.045V93.766c0-13.813-11.224-25.045-25.026-25.045zm22.394 207.136c0 54.322-44.003 98.359-98.283 98.359H25.652c-12.368 0-22.395-10.034-22.395-22.412V93.766c0-12.378 10.026-22.412 22.394-22.412h376.26c12.368 0 22.394 10.034 22.394 22.412v182.09z" fill="#3f3d56"/><g fill="#ccc"><path d="M54.37 320.928l-2.227-1.403 4.438-6.633 2.142 1.53-4.353 6.506zm14.51-18.768l-1.884-1.839c4.015-4.118 8.242-7.654 12.56-10.508l1.451 2.198c-4.163 2.751-8.243 6.165-12.127 10.149zm65.651-16.623c-3.142 0-6.005-.403-8.148-.754l.425-2.598c2.172.355 4.787.718 7.723.718 2.593 0 5.142-.284 7.791-.871l.568 2.571a38.18 38.18 0 0 1-8.359.934zm-39.376-.349l-.792-2.511a55.53 55.53 0 0 1 8.704-1.989 51.21 51.21 0 0 1 7.4-.544h.162v2.633h-.162a48.43 48.43 0 0 0-7.023.518 52.83 52.83 0 0 0-8.289 1.893zm62.725-7.61l-1.682-2.026c3.631-3.018 6.234-6.668 8.99-10.533l1.099-1.538 2.136 1.54-1.093 1.527c-2.858 4.008-5.558 7.794-9.45 11.03zm21.104-24.147l-1.62-2.077c3.548-2.77 7.555-5.015 12.252-6.862.8-.315 1.564-.596 2.298-.846l.849 2.492c-.698.239-1.424.506-2.184.805-4.458 1.753-8.251 3.875-11.595 6.488zm31.769-9.148c-.885 0-1.725-.008-2.532-.017l.031-2.634 2.597.018c3.096 0 7.409-.088 13.325-.774l.303 2.616c-6.111.708-10.492.782-13.724.791zm29.732-3.449l-.522-2.581c4.727-.956 10.226-2.095 15.669-3.5l.658 2.55c-5.505 1.421-11.045 2.568-15.805 3.531zm31.306-8.524l-.984-2.443c5.277-2.129 9.858-4.529 14.007-7.34l1.475 2.181c-4.304 2.916-9.047 5.403-14.498 7.602zm26.589-18.818l-2.136-1.54c.735-1.019 1.369-2.014 1.983-2.976 1.812-2.839 3.686-5.776 8.148-9.38l.312-.25 1.631 2.066-.29.233c-4.129 3.335-5.806 5.965-7.583 8.749-.633.992-1.288 2.018-2.065 3.098zm23.607-19.752l-.959-2.452c4.69-1.84 9.987-3.321 15.744-4.402l.486 2.589c-5.596 1.05-10.733 2.485-15.271 4.265zm31.356-6.2l-.165-2.628 7.946-.314.048 2.633-7.829.309z"/></g><g fill="#e6e6e6"><path d="M83.714 97.257h-36.92a3.38 3.38 0 0 0-3.368 3.371 3.38 3.38 0 0 0 3.368 3.384h36.921a3.38 3.38 0 0 0 3.368-3.384 3.38 3.38 0 0 0-3.368-3.371zm61.842 0h-36.921c-1.855 0-3.368 1.514-3.368 3.371a3.38 3.38 0 0 0 3.368 3.384h36.921a3.38 3.38 0 0 0 3.368-3.384c0-1.857-1.513-3.371-3.368-3.371zm61.842 0h-36.921a3.38 3.38 0 0 0-3.369 3.371 3.38 3.38 0 0 0 3.369 3.384h36.921a3.38 3.38 0 0 0 3.368-3.384c0-1.857-1.513-3.371-3.368-3.371zM378.911 318.91H43.388v2.633h335.523v-2.633z"/></g><path d="M361.187 126.659c-23.881.619-41.697 7.651-52.986 20.871-4.171 4.899-5.868 8.757-7.658 12.839-1.776 4.029-3.592 8.177-7.815 13.589v-4.477c2.618-3.845 4.026-7.058 5.407-10.179 1.869-4.266 3.645-8.296 8.066-13.471 11.789-13.826 30.263-21.16 54.907-21.805l.079 2.633z" fill="#ccc"/><path d="M300.543 160.369c-1.776 4.029-3.592 8.177-7.815 13.589-.5.645-1.04 1.317-1.619 2.015-15.236 18.132-35.592 24.084-51.96 28.877l-3 .843c-14.552 3.95-22.526 3.805-28.46 3.713-5.96-.105-9.895-.171-16.934 3.858-12.908 7.361-18.197 18.132-23.316 28.548-5.276 10.719-10.249 20.845-22.934 25.598-8.802 3.292-14.986 1.659-21.526-.052-5.618-1.488-15.744-38.113-24.71-43.454-18.513 3.884-29.763 64.43-43.802 96.849l-2.421-1.053c14.408-33.236 26.276-94.295 45.67-98.377 8.645-1.817 20.027 41.926 25.934 43.48 6.132 1.62 11.908 3.134 19.934.132 11.711-4.372 16.237-13.603 21.487-24.282 5.053-10.271 10.776-21.911 24.368-29.68 7.671-4.385 12.132-4.306 18.29-4.201 5.868.106 13.789.237 28.42-3.805l2.263-.645c16.027-4.688 35.96-10.522 50.671-28.035 1.447-1.725 2.645-3.318 3.645-4.806 2.618-3.845 4.026-7.058 5.407-10.179 1.869-4.266 4.198-3.015 2.408 1.067z" fill="#6f8573"/><path d="M160.23 461.623c-1.042-3.629-2.826-6.725-4.949-8.934l-7.715-35.197-16.817 4.123 9.637 35.26c-.634 2.984-.507 6.545.534 10.175 2.38 8.292 8.631 13.799 13.963 12.3s7.726-9.435 5.347-17.727z" fill="#ffb6b6"/><path d="M157.903 230.737s-26.558-.544-33.311 18.811c-6.146 17.617-13.433 66.017-9.494 68.814l16.766 119.15 23.909-3.288-6.136-142.962 8.266-60.525z" fill="#9d74d3"/><path d="M280.885 451.905L276.175 577h-62.499l-2.527-56.056L200.044 577h-66.986l8.355-96.362 8.632-20.266 5.842-13.734 124.998 5.267z" fill="#2f2e41"/><path d="M230.886 206.983l-43.42-2.634-14.474 18.435-31.578 11.852 14.473 140.896-6.579 84.274s92.105 73.74 131.578-7.901l-10.526-98.759 2.631-114.56-30.263-13.168-11.842-18.435z" fill="#8d55d3"/><path d="M314.478 174.934c.471 4.565-.128 8.858-1.505 12.301l7.233 43.206-20.644 2.843-5.115-44.135c-2.051-3.087-3.514-7.168-3.985-11.733-1.076-10.429 3.427-19.439 10.059-20.125s12.88 7.214 13.957 17.643z" fill="#ffb6b6"/><path d="M278.52 243.533c-7.117-12.174-24.771-13.321-32.677-1.646-2.162 3.191-1.56 6.779-2.076 11.089-2.19 18.299 32.848 72.371 57.092 78.597 3.182.817 4.994 4.251 8.205 4.942 9.513 2.046 18.369-5.51 17.856-15.234l-6.586-124.71-27.667 9.444 1.771 64.747-15.918-27.229z" fill="#9d74d3"/><path d="M213.682 200.942c21.123 0 38.246-17.137 38.246-38.276s-17.123-38.276-38.246-38.276-38.247 17.137-38.247 38.276 17.124 38.276 38.247 38.276z" fill="#ffb6b6"/><path d="M249.307 134.56c-.329.079 5.035-5.153 5.263-5.267 5.263-2.634-.145 23.109-3.947 22.385-9.355-1.778-13.395-5.307-17.026 3.503-1.014 2.449-1.645 5.214-3.619 6.966-2.71 2.383-7.21 2.185-9.421 5.03-1.776 2.291-1.263 5.662.053 8.243 1.316 2.594 3.316 4.793 4.513 7.44 1.342 2.975-4.381 12.443-6.566 17.763v.013l-.013.031c-.58 1.396-1.959-2.624-3.415-3.025-1.743-.48-4.31 3.637-7.085 2.889-.013 0-.026-.013-.039-.013l-8.513-2.318h-.013c-8.224-2.238-10.303.975-10.698.882l-5.105-5.346c-1.752-1.276-1.554-5.398-2.789-6.505-1.011-.905-3.529 1.187-4.272.317-3.64-4.267-4.477-8.535-6.623-16.961-1.96-7.703-6.026-30.76 2.329-31.8 7.881-.988 2.118-11.97 10.053-11.562-.474-2.001.407-4.148 1.842-5.622 1.421-1.488 3.315-2.41 5.223-3.2 9.408-3.845 7.842-7.15 17.763-4.912.987-1.382 15.316-.461 17.105 0 .132.027-4.434 1.12 2.632 0-.263 1.62 4.21 2.331 3.947 3.951.987-1.33 11.592 6.307 11.842 7.9.329 1.989-2.671.975-.671 1.278 1.184.184 3.211 2.594 3.013 3.792l2.579-3.463c.158.013.303.039.461.066 4 .763-.586 13.849-.421 9.77.302-7.492 5.605-3.107 1.618-2.225z" fill="#2f2e41"/><g fill="#3f3d56"><path d="M395.832 338.282c.294.726 1.312.726 1.606 0 2.055-5.069 4.98-10.746 8.161-15.084.51-.694-.193-1.622-1.002-1.329l-6.82 2.469v-42.251h-2.283v42.251l-6.823-2.47c-.809-.293-1.512.635-1.002 1.33 3.182 4.338 6.107 10.015 8.163 15.084zm44.724 43.503c-.221.752.575 1.385 1.258.999 4.758-2.69 10.576-5.315 15.764-6.732.83-.227.857-1.391.041-1.665l-6.875-2.311L477 338.99l-1.788-1.421-26.256 33.086-3.808-6.18c-.452-.733-1.578-.444-1.611.417-.204 5.378-1.441 11.644-2.981 16.893z"/></g><path d="M419.197 409.98h-44.37c-2.755 0-4.996-2.243-4.996-4.999-5.866-17.16-5.75-33.975 0-50.464 0-2.757 2.241-5 4.996-5h44.37c2.755 0 4.996 2.243 4.996 5v50.464c0 2.756-2.241 4.999-4.996 4.999z" fill="#e6e6e6"/><path d="M384.334 351.007c-7.188 0-13.014 5.831-13.014 13.024v39.879a4.58 4.58 0 0 0 4.577 4.581h24.537c12.299 0 22.27-9.979 22.27-22.288v-30.615a4.58 4.58 0 0 0-4.577-4.581h-33.793z" fill="#fff"/><g fill="#e6e6e6"><path d="M407.345 365.672h-20.773a.951.951 0 1 1 0-1.901h20.773a.951.951 0 1 1 0 1.901zm0 20.269h-20.773a.951.951 0 1 1 0-1.901h20.773a.951.951 0 1 1 0 1.901zm11.147-10.128h-43.068a.951.951 0 1 1 0-1.901h43.068a.951.951 0 1 1 0 1.901zm.508 18.369h-17.971a.951.951 0 1 1 0-1.901H419a.951.951 0 1 1 0 1.901z"/></g><path d="M16.399 32.554c9.057 0 16.399-7.193 16.399-16.066S25.456.423 16.399.423 0 7.616 0 16.489s7.342 16.066 16.399 16.066z" fill="#8d55d3"/><g fill="#f2f2f2"><path d="M147.862 10.992H59.593c-3.028 0-5.492-2.466-5.492-5.496S56.565 0 59.593 0h88.269c3.028 0 5.492 2.466 5.492 5.496s-2.464 5.496-5.492 5.496zm68.885 18.603H59.593c-3.028 0-5.492-2.466-5.492-5.496s2.464-5.496 5.492-5.496h157.154c3.028 0 5.492 2.466 5.492 5.496s-2.464 5.496-5.492 5.496z"/></g></g><defs><clipPath id="A"><path fill="#fff" d="M0 0h477v577H0z"/></clipPath></defs></svg>
      </div>
    </Div>
    <p class="text-center my-40 w-5/6 sm:w-1/2 md:w-3/4 text-lg sm:text-xl font-Nunito">
      Established in May 2023, our journey from a Digital Marketing Agency to a
      thriving MarTech startup has been nothing short of remarkable. In just six
      months, our team has expanded from 2 to over 20 members!
    </p>
  </div>
</section>
