---
import Div from "./framer/Div.astro";
import Span from "./framer/Span.astro";
import { motion } from "framer-motion";
---

<section class="w-screen flex justify-center items-center mb-4" id="home">
  <Div>
    <div
      class="text-5xl sm:text-6xl lg:text-7xl xl:text-7xl font-semibold tracking-wide leading-relaxed h-screen -translate-y-5 flex justify-center items-center"
    >
      <Span
        classes="md:inline bg-gradient-to-t from-purple-200 via-purple-400 to-purple-800 text-transparent bg-clip-text tracking-wide sm:leading-loose text-center font-Pacifico"
      >
        Digital Visionaries.
      </Span>
    </div>
  </Div>
</section>
