---
import { Icon } from "astro-icon";

const servicesData = [
  {
    image: "services/webdev",
    title: "Web Development",
    content:
      "Elevate your online presence with our dynamic web development service, combining creativity and functionality for a standout digital experience.",
  },
  {
    image: "services/contentmarketing",
    title: "Content Marketing",
    content: "Fuel your brand's narrative with our strategic content marketing, seamlessly blending creativity and impact for an engaging online presence."
  },
  {
    image: "services/videomarketing",
    title: "Video Marketing",
    content: "Ready to take your brand to the next level? Let's craft compelling visual stories that resonate with your audience and leave a lasting impact."
  },
  {
    image: "services/seo",
    title: "SEO",
    content: "Struggling to top search results? Let us be your SEO superhero! Our experts optimize your site, skyrocketing visibility and ensuring online success."
  },
  {
    image: "services/ai",
    title: "AI Assistants",
    content: "Revolutionize work and communication with our Chatbots and AI Assistants. Seamlessly integrated, these AI helpers simplify your daily routine, making life easier."
  },
  {
    image: "services/email",
    title: "Email Marketing",
    content: "Elevate your brand with strategic email marketing. Seamlessly blending creativity and impact, we ensure an engaging online presence that captivates your audience."
  },
  {
    image: "services/analytics",
    title: "Analytics & Marketing Automation",
    content: "Refine decisions with precise data analytics for a successful, data-driven approach to propel your business."
  },
  {
    image: "services/e-commerce",
    title: "E-commerce Marketing",
    content: "Boost sales with strategic eCommerce marketing. Elevate your brand for online success and increased conversions."
  },
  {
    image: "services/social-commerce",
    title: "Social Commerce",
    content: "Boost sales and brand on social platforms. Maximize engagement with our social commerce expertise for unparalleled success."
  },
  {
    image: "services/local-seo",
    title: "Local SEO",
    content: "Optimize local presence with our SEO expertise. Boost visibility and engagement for unparalleled success in local search rankings."
  },
  {
    image: "services/social-media",
    title: "Social Media Marketing",
    content: "Elevate sales through strategic social media marketing. Boost your brand for online triumph and heightened conversions."
  },
  {
    image: "services/copyrighting",
    title: "Professional Copyrighting",
    content: "Ignite online triumph! Propel your brand and boost conversions with expert copywriting in social media strategies."
  },
  {
    image: "services/influencer",
    title: "Influencer Marketing",
    content: "Amplify influence with our dynamic influencer marketing. Blend creativity and impact for a standout digital experience in elevating your online presence."
  },
  {
    image: "services/photography",
    title: "Photography",
    content: "Level up your online game with professional photography! Mix creativity and precision for visuals that pop and leave a mark."
  },
  {
    image: "services/videography",
    title: "Videography",
    content: "Elevate your online charisma with stellar videography! Blend creativity and expertise for videos that impress and bring smiles."
  }
];
---

<section id="services" class="bg-lineargradientservice font-MerriweatherSans">
  <h1 class="font-MerriweatherSans text-4xl sm:text-5xl font-bold text-center pt-10">How do we help?</h1>
  <br />
  <br />
  <div class="w-full flex justify-center">
    <p class="font-Montserrat text-center w-3/4">
      Whether it’s web development or photography, copyrighting or analytics,
      we’ve got you covered! Explore our services tailored to meet your needs
      and let's enhance your digital strategy together.
    </p>
  </div>
  <br />
  <br />
  <div class="flex justify-center">
    <div class="flex flex-wrap justify-center gap-8 xl:w-5/6 mt-5 mb-40">
      { servicesData.map((item) => (<div
        class="w-60 p-5 rounded-2xl bg-gradient-to-b from-[#1F1114] to-[#0C0415] from-0% to-100% duration-500 hover:-translate-y-6 cursor-default"
      >
        <Icon name={item.image} class="w-8 h-8 sm:w-9 sm:h-9 grayscale hover:grayscale-0 sm:grayscale-0 duration-500"/> 
        <div class="font-Nunito text-xl leading-normal font-medium">{item.title}</div>
        <p class="text-sm font-Nunito opacity-75">
          {item.content}
        </p>
      </div>)) }
    </div>
  </div>
</section>
