---
import { chunkArray } from "../lib/chunk";

const Servicesdata = [
  "Social Media Marketing",
  "Content Marketing",
  "Video Marketing",
  "Influencer Marketing",
  "Search Engine Optimization (SEO)",
  "Local SEO",
  "Chatbots and AI Assistants",
  "Email Marketing",
  "Data Analytics and Marketing Automation",
  "E-commerce Marketing",
  "Social Commerce",
  "Photography",
  "Videography",
  "Professional Copywriting",
  "Web Development",
];

// Chunk the Servicesdata into rows of 3
const servicesRows = chunkArray(Servicesdata, 5);
---

<div
  class="flex flex-col justify-around overflow-x-hidden md:mx-2"
>
  <h2 class="text-5xl text-whiterock text-center font-AbrilFatface">How do we help?</h2>
  <br>
  <br>
  <div class="flex justify-center"><p class="w-1/2 text-center text-lg font-Nunito">Whether it’s web development or photography, copyrighting or analytics, we’ve got you covered! Explore our services tailored to meet your needs and let's enhance your digital strategy together.</p></div>
  <div class="mt-44 items-start">
    {
      servicesRows.map((row, rowIndex) => (
        <div
          class={`flex ${
            rowIndex % 2 == 0
              ? "animate-marquee"
              : "animate-marquee [animation-direction:reverse]"
          }`}
        >
          {row.map((service, index) => (
            <div
              class={`${
                index % 2 == 0
                  ? "bg-DodgerBlue text-white"
                  : "bg-zinc-200 text-DodgerBlue"
              } border border-DodgerBlue whitespace-nowrap rounded-full my-3 mx-2 px-6 flex items-center gap-10`}
            >
              <div
                class={`${
                  index % 2 == 0 ? "border-white" : "border-DodgerBlue"
                } rounded-full border`}
              >
                <svg
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"
                    fill={`${
                      index % 2 == 0 ? "rgb(255,255,255)" : "hsl(211 100% 50%)"
                    }`}
                  />
                </svg>
              </div>
              <span>{service}</span>
            </div>
          ))}
          {row.map((service, index) => (
            <div
              class={`${
                index % 2 == 0
                  ? "bg-DodgerBlue text-white"
                  : "bg-zinc-200 text-DodgerBlue"
              } border border-DodgerBlue whitespace-nowrap h-16 rounded-full my-4 mx-2 px-6 flex items-center gap-10`}
            >
              <div
                class={`${
                  index % 2 == 0 ? "border-white" : "border-DodgerBlue"
                } rounded-full border`}
              >
                <svg
                  height="24"
                  viewBox="0 0 24 24"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"
                    fill={`${
                      index % 2 == 0 ? "rgb(255,255,255)" : "hsl(211 100% 50%)"
                    }`}
                  />
                </svg>
              </div>
              <span>{service}</span>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>
